body{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(211, 174, 125);
}

p{
  margin: auto;
  font-size: 30;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  outline: none;
  cursor: pointer;
  border: 3px solid rgb(128, 67, 27);
  background: url(https://image.shutterstock.com/image-photo/brown-scratched-wooden-cutting-board-260nw-582026461.jpg);
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.naam {
  font-size: 1.5em;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#gameArea {
  position: absolute;
  left: 50%;
  top: 50%;
}

#gameCanvas {
  width:  100%;
  height: 100%;
  background-color: rgb(207, 160, 99);
  border: 1px solid black;
}

#ezelTeller {
  position: absolute;
  left: 0;
  width: 30%;
  height: 8%;
  top: 0;
  text-align: center;
}

#spelModus {
  position: absolute;
  left: 35%;
  width: 30%;
  height: 10%;
  top: 0;
  border-radius: 20%;
}

#spelModus p,
#ezelTeller p,
#rattenTeller p,
#actueleSpelInformatie p{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#rattenTeller {
  position: absolute;
  right: 0;
  width: 30%;
  height: 8%;
  top: 0;
  text-align: center;
}

#opponentContainer {
  position: absolute;
  left: 5%;
  width: 90%;
  height: 15%;
  top: 13%;
  text-align: center;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.opponentObject {
  display: inline-block;
  margin-right: 7%;
  margin-left: 7%;
  background-color: rgb(235, 190, 95);
  border-radius: 30%;
  padding: 10px;
}

#opponentObject p {
  font-size: 20;
}

#actueleSpelInformatie {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 20%;
  top: 35%;
  text-align: center;
}

#betaalScherm,
#startKoehandelScherm,
#uitgedaagdeKoehandelScherm,
#rathandelScherm
 {
  position: absolute;
  left: 15%;
  width: 70%;
  height: 45%;
  top: 30%;
  text-align: center;
  z-index: 1;
  display: none;
  background-color: rgb(187, 128, 0);
}


#betaalScherm table,
#startKoehandelScherm table,
#uitgedaagdeKoehandelScherm table,
#rathandelScherm table {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  table-layout: fixed;
  width: 95%;
  height: 60%;
}

#betaalInfo,
#koeHandelInzet,
#rathandelInfo {
  position: relative;
  top: 5%;
}

#annuleerBetaling,
#annuleerKoehandel{
  position: absolute;
  left: 20%;
  top: 88%;
  transform: translate(-50%, -50%);
  border-radius: 30%;
  font-size: 0.8em;
  outline: none;
  color: rgb(151, 0, 0);
}

#accepteerKoehandel,
#accepteerRathandel{
  position: absolute;
  left: 80%;
  top: 88%;
  transform: translate(-50%, -50%);
  border-radius: 30%;
  font-size: 0.6em;
  outline: none;
  color: green;
}

#betaalButton{
  position: absolute;
  left: 50%;
  top: 88%;
  transform: translate(-50%, -50%);
  border-radius: 30%;
  font-size: 1em;
  outline: none;
}

#startKoehandelButton,
#tegenBodButton,
#legInRat{
  position: absolute;
  left: 50%;
  top: 88%;
  transform: translate(-50%, -50%);
  border-radius: 30%;
  font-size: 0.8em;
  outline: none;
}

#uitgedaagdeLabel,
#betaaldeLabel{
  position: absolute;
  left: 78%;
  top: 88%;
  transform: translate(-50%, -50%);
  font-size: 0.6em;
}

#uitgedaagde,
#betaalde{
  position: absolute;
  left: 92%;
  top: 88%;
  transform: translate(-50%, -50%);
  border-radius: 30%;
  font-size: 0.3em;
  outline: none;
  background-color: rgb(243, 199, 142);
}

.min1Button,
.plus1Button{
  background: none;
  background-color: rgb(243, 199, 142);
  border-radius: 30%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
}

.min1Button{
  left: 55%;
}

.plus1Button{
  left: 45%;
}

#changeNamePanel{
  position: absolute;
left: 15%;
width:80%;
height: 45%;
top: 30%;
text-align: center;
z-index: 1;
display: none;
background-color: rgb(187, 128, 0);
}

#changeNamePanel input{
  font-size: 0.5em;
  outline: none;
}

#changeNamePanel button{
  font-size: 0.5em;
}

#veranderNaam {
  outline: none;
}

#statsPanel {
  position: absolute;
  left: 0;
  width: 25%;
  height: 30%;
  bottom: 0;
  border-top-right-radius: 20%;
}

#statsPanel li{
  width: 80%;
  position: relative;
  left: 2vw;
  margin-bottom: 5%;
}

#totaalGeld {
  font-size: 0.9em;
}

#veranderNaam {
  font-size: 0.3em;
  position: absolute;
  bottom: 5%;
  left: 10%;
}

#geldVoorraad {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 30%;
  bottom: 0;
  text-align: center;
}

#geldVoorraad table{
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  table-layout: fixed;
  width: 95%;
}

#geldVoorraad td{
  width: 100/7%;
  text-align: center;
}

#geldVoorraad img{
  width: 60px;
  height: auto;
}

/* .geld{
  cursor: pointer;
}

.geld:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} */

#actieMenu {
  position: absolute;
  right: 0%;
  width: 25%;
  height: 45%;
  bottom: 0;
  text-align: center;
  border-top-left-radius: 20%;
}

#actieMenu p{
  margin-bottom: 20px;
}

.actieKnop {
  display: block;
  outline: none;
  width: 80%;
  font-size: 0.68em;  
  padding: 0.9vmin;
  margin: auto;
  margin-top: 1vmin;
  margin-bottom: 2vmin;
}

.paneel{
  background-color: rgba(187, 128, 0, 0.719);
  box-sizing: border-box;
  border: 8px groove rgb(129, 73, 9);
}
